<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- Recaptcha Google Test -->
		<add key="ReCaptcha_Key" value="6LdyrMkZAAAAAHRz8wCnELppDBUnMshFD82tuXfJ" />
		<add key="ReCaptcha_Secret" value="6LdyrMkZAAAAAAR7eVijQRMtBehNKaIzQqv36Aew" />
		<!-- Recaptcha Google Live -->
		<!--<add key="ReCaptcha_Key" value="6Le_e8kZAAAAAFnm4I1cfaavkCwmUXktJhnHbRwP" /> -->
		<!--<add key="ReCaptcha_Secret" value="6Le_e8kZAAAAABiq3DCD01Wg1R4_KUPKiyXRgK04" /> -->
		<!-- Dynamics 365 Account Credentials-->
		<add key="AuthType" value="ClientSecret;" />
		<add key="url" value="https://org983d5aac.crm4.dynamics.com;" />
		<add key="ClientId" value="b4a052ad-4914-4a9c-a5f5-22064bd0b432;" />
		<add key="ClientSecret" value="ZqP7Q~-PIHWTDg_LMaPkP6jgDgKYeML8syuo6;" />
		<!-- End Dynamics 365 Account Credentials-->
		<!-- SalesForce Credentials -->
		<add key="ConsumerKey" value="3MVG91BJr_0ZDQ4stNNnJj8ay3v0YT03NWARnWVQSYvUZjUfkvtCa0d.GUbFU1iDaxTh5JiOngFPQv88z_DjM" />
		<add key="ConsumerSecret" value="80347964091CF8C7E91B4B378A39227A394A78101157BD8A78301D0F361E6A55" />
		<add key="Token" value="YiPJAFQvAN774uHX3clVXbZqA" />
		<!-- MailJet Account Credentials-->
		<add key="MailJetApiPublicKey" value="1229ae3496f098909763b1972a1b45e4ba" />
		<add key="MailJetApiSecretKey" value="123404d1436d08ec3765ce35446e2ce951" />
		<!-- End MailJet Account Credentials-->
		<!-- UserLike Credentials -->
		<add key="ApiKey" value="2cca3dfa-fe19-328f-9b61-71ff27bf687c" />
		<add key="SecretKey" value="4716ed14e269e0b57e20be3b245389cc5331ddd36668eaf843dd72e1f5930fdb" />
		<!-- Stripe Test Account Credentials -->
		<!--<add key="StripeSecretKey" value="sk_live_1DE5ysgeunShK37X0CwBA5fA" />-->
		<add key="StripeSecretKey" value="sk_test_OIySeuUvaObscVisQhrHkhix" />
		<add key="StripePublicKey" value="pk_test_1CXpiqkIbApJbtmwNNL22hzs" />
		<add key="ChargeMode" value="false" />
		<!-- End Stripe Test Account Credentials -->
		
		<!-- Clearbit Test Account Credentials-->
		<add key="ClearbitSecretKey" value="sk_e37b5d2fa6b7388a6e694857b986605e" />
		<add key="ClearbitPublicKey" value="pk_691ce63a4ed7834f832bfcff478feb5d" />
		<!-- End Clearbit Test Account Credentials-->
		
		<!-- Currency Convert Account Credentials-->
		<add key="CurrencyConvertKey" value="0e0b0006587142e5b250362ed45c7576" />
		<!-- Currency Convert Account Credentials-->
		<!-- Snitcher Anonymous Tracking Credentials-->
		<add key="SnitcherKeyToken" value="7|V87awK2nT5Vpa4WTuIb9lO4tgsOKjeF5KM6Rw0Af" />
		<!-- End Snitcher Anonymous Tracking Credentials-->
		<!-- IpInfo Tracking Credentials-->
		<add key="IpInfoAccessToken" value="12b10a445e6e2407" />
		<!-- End IpInfo Tracking Credentials-->
		
		<!-- CompaniesApiAccessToken Tracking Credentials-->
		<add key="CompaniesApiAccessToken" value="12YqgvyF5U"/>
		<!-- End CompaniesApiAccessToken Tracking Credentials-->
		
		<add key="PaypalSite" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout" />
		<add key="PaypalApi" value="https://api-3t.sandbox.paypal.com/nvp" />
		<add key="PayPalReturnUrl" value="http://localhost:53662/externalpages/paypalparse.aspx" />
		<add key="PayPalCancelUrl" value="http://localhost:53662/payment" />
		<add key="PayPalClientID" value="AZFcn6oBV_ZSrUp05kmS4gjvdDn17MLHe0VW_bKmT7YOnKwlgGLo1874SYU6SfkrHqA_5dp5gDlMChjp" />
		<add key="PayPalSecret" value="EOHRhVNOn3Sx7vQyUEufThmsFP4YBma2QnRPGJE0xJhPwY1teWVvIP3z-8lcPA_0-XPJ-P6TEwUGiAxf" />
		
		<!-- PayFlow Pilot-->
		<add key="PaypalFlowSite" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout" />
		<add key="PayFlowApi" value="https://pilot-payflowpro.paypal.com" />
		<!-- PayFlow Live-->
		<!--<add key="PaypalFlowSite" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout" />
		<add key="PayFlowApi" value="https://payflowpro.paypal.com" />-->
		<!-- End PayPal Credit Card Credentials-->
		<!-- General -->
		<add key="RootPath" value="C:\Project" />
		<add key="LogDebugMessages" value="true" />
		<add key="LogErrorMessages" value="true" />
		<add key="LogInfoMessages" value="true" />
		<add key="LogPath" value="Elioplus_new\Logs\" />
		<add key="LogPathClearBit" value="Elioplus_new\Logs\ClearBitLogs\" />
		<add key="LogSiteMapPath" value="Elioplus_new\SiteMapFileNew\" />
		<add key="LogInfoPath" value="Elioplus_new\InfoLogs\" />
		<add key="LogAnonymousPath" value="Elioplus_new\AnonymousLogs\" />
		<add key="LocalizationXmlPath" value="Elioplus_new\App_Data\Localization" />
		<add key="ViewLogFilesPath" value="http://localhost:44343/Logs" />
		<add key="ViewInfoLogFilesPath" value="http://localhost:44343/InfoLogs" />
		<add key="ViewClearbitLogFilesPath" value="http://localhost:44343/Logs/ClearBitLogs" />
		<add key="ViewAnonymousLogFilesPath" value="http://localhost:44343/AnonymousLogs" />
		<!-- Mashape url-->
		<!--<add key="MashapeUrl" value="https://www.mashape.com/?utm_source=myelio&utm_medium=website&utm_campaign=partners"/>-->
		<!-- Email Sender -->
		<add key="SMTPUSER_OLD" value="" />
		<add key="SMTPPASS_OLD" value="" />
		<add key="SMTPUSER" value="info@elioplus.com" />
		<add key="SMTPPASS" value="0012aa" />
		<add key="Email" value="info@elioplus.com" />
		<add key="Password" value="" />
		<add key="SupportEmail" value="" />
		<add key="SupportEmailPassword" value="" />
		<add key="CTOEmail" value="vagelis@myelio.com" />
		<add key="CPOEmail" value="dimitris@myelio.com" />
		<add key="MarketingEmail" value="xrmagic@yahoo.gr" />
		<add key="CEOEmail" value="ilias.ndreu@gmail.com" />
		<add key="ElioplusEmails" value="info@elioplus.com,ilias.ndreu@gmail.com,xrmagic@yahoo.gr" />
		<add key="NewInboxElioplusEmails" value="ilias.ndreu@gmail.com" />
		<add key="BlacklistedEmailDomains" value="@gmail.com,@hotmail.com,@yahoo.com,@aol.com,@ymail.com,@proton.me,@outlook.com" />
		
		<!-- Production Mode -->
		<add key="IsProductionMode" value="false" />
		<add key="WriteLogsInDB" value="false" />
		<add key="IsLocalMode" value="true" />
		<add key="AllowMultiLanguage" value="true" />
		<add key="ActivatePayment" value="true" />
		<add key="IsHttps" value="false" />
		<add key="SelfServiceIDs" value="1,24,87,114,125,139,191,193,203,294,476,482,809,812,815,823,850,948,1009,2031,2034,2037,2047,2129,2169,2177,2211,2242,2282,2308,2312,2339,2349,2367,2368,2369,2382,2390,2439,2474,2521,2566,2628,2690,2696,2712,2747,2921,2936,2948,2960,2991,2997,3002,3044,3211,3343,3409,3567,3580,3726,3847,3997,4014,4084,4298,4372,4412,4561,4747,4796,4817,4870,5006,5082,5417,5525,5708,5731,5750,5898,6054,6692,6751,6797,6893,7406,7419,7582,7738,8047,8260,8307,8527,8684,9071,9073,9267,9786,9959,10841,11408,11742,11915,11975,12001,12033,12169,12170,13384,13427,13564,13625,14098,14108,14530,14586,14655,14751,14752,14850,14963,15065,15379,15515,15842,16237,16506,16509,16556,16658,16660,17470,17589,17697,17857,17947,18148,18152,18179,18484,18486,18614,18740,18897,19126,19173,19283,19295,20359,20533,20535,20750,20813,21140,21164,21190,22308,22429,23316,23329,23527,23691,23942,24150,25305,25451,25606,25667,26020,26355,26756,26828,26925,27568,28165,28718" />
		<add key="ExcludedCustomersFromStripe" value="38682,40956" />
		<add key="BlackListedEmails" value="zeynep.dsz@yandex.com,epifaniikornilov2018@mail.ru,fakirovadf@mail.ru,elioplus.com@like-v.ru,wwin-tv.com,sample@email.tst" />
		<add key="TranslationCities" value="fr,at,de,pt,it,la,es,nl,pl" />
		<add key="TranslationLanguages" value="fr,es,de,pt,ar" />
		<add key="IsLeadOneTimeStripeCustomer" value="123647,115348,57634,130581,133405,129445,60,40066,140433,144034" />
		<add key="SnitcherCountryProductsUsers" value="115348,130779,138930,140433,125391,146226,147340,146588,150913,145846,152811,146969,161130,159961,182847,186346,190849,191980,58140,196306,110803" />
		<!-- Custom User IDs-->
		<add key="RandstadCustomerID" value="42361" />
		<add key="CustomVendorIDs" value="42361" />
		<add key="Dynamics365_VendorID" value="0" />
		<!-- Scheduler Hangfire Jobs Settings-->
		<add key="IsSchedulerJobsActivated" value="false" />
		<add key="WorkerForGetData" value="false" />
		<add key="WorkerForUpdateData" value="false" />
		<add key="WorkerForSendData" value="false" />
		<!-- Company Logo Images -->
		<add key="MaxFileLenght" value="200000" />
		<add key="LogoTargetFolder" value="~/Images/Logos/" />
		<add key="LogoTargetMultiTempFolder" value="~/Images/MultiAccountsTempFolder/" />
		<add key="PersonalImageTargetFolder" value="~/Images/PersonalImages/" />
		<add key="SubAccountPersonalImageTargetFolder" value="~/Images/SubAccountsPersonalImages/" />
		<add key="EmailNotificationsTemplateFileName" value="EmailTemplateTxt" />
		<add key="EmailInvitationsTemplateFileName" value="EmailTemplateInvitationsTxt" />
		<add key="EmailCollaborationInvitationsTemplateFileName" value="EmailTemplateCollaborationInvitationsTxt" />
		<add key="EmailTeamInvitationsTemplateFileName" value="EmailTemplateTeamInvitationsTxt" />
		<add key="EmailResetPasswordTemplateFileName" value="EmailTemplateResetPasswordTxt" />
		<add key="EmailNotificationsLandingTemplateFileName" value="LandingEmailTemplateTxt" />
		<add key="EmailNotificationsTaskTemplateFileName" value="TaskEmailTemplateTxt" />
		<add key="EmailRFQInvitationsTemplateFileName" value="EmailTemplateRFQInvitationsTxt" />
		
		<add key="PdfTargetFolder" value="~/Files/Pdf/" />
		<add key="MaxPdfSize" value="30000000" />
		<add key="CsvTargetFolder" value="~/Files/Csv/" />
		<add key="MaxCsvSize" value="30000000" />
		<add key="CollaborationLibraryTargetFolder" value="~/CollaborationLibrary\" />
		<add key="CollaborationLibraryTargetFolderNew" value="~/CollaborationLibraryNew\" />
		<add key="CollaborationLibraryFullTargetFolder" value="ElioPlus\CollaborationLibrary\" />
		<add key="ViewCollaborationLibraryFilesPath" value="/CollaborationLibrary" />
		<add key="CollaborationMaxFileLenght" value="500000000" />
		<add key="OnboardingLibraryTargetFolder" value="~/OnboardingLibrary\" />
		<add key="OnboardingLibraryTargetFolderNew" value="~/OnboardingLibraryNew\" />
		<add key="OnboardingLibraryFullTargetFolder" value="ElioMarketplace\OnboardingLibrary\" />
		<add key="ViewOnboardingLibraryFilesPath" value="/OnboardingLibrary" />
		<add key="OnboardingMaxFileLenght" value="500000000" />
		<add key="CommentsLibraryTargetFolder" value="~/CollaborationLibrary\Comments\" />
		<add key="CommentsLibraryFullTargetFolder" value="ElioMarketplace\CollaborationLibrary\Comments\" />
		<add key="ViewCommentsLibraryFilesPath" value="/CollaborationLibrary/Comments" />
		<add key="CommentsMaxFileLenght" value="500000000" />
		
		<add key="TrainingLibraryTargetFolder" value="/TrainingLibrary\" />
		<add key="TrainingLibraryFullTargetFolder" value="ElioMarketplace_git\TrainingLibrary\" />
		<add key="ViewTrainingLibraryPath" value="http://localhost:44343/TrainingLibrary" />
		<add key="MaxFileLenghtTraining" value="500000" />
		<add key="MaxPreviewFileLenghtTraining" value="500" />
		
		<add key="EmailsFromFileTargetFolder" value="~\Logs\EmailsFromFile\" />
		<add key="CompanyDetailsLogoWidth" value="400" />
		<add key="CompanyDetailsLogoHeight" value="300" />
		<add key="CompanySearchEditLogoWidth" value="200" />
		<add key="CompanySearchEditLogoHeight" value="150" />
		<add key="CompanyReviewLogoWidth" value="100" />
		<add key="CompanyReviewLogoHeight" value="100" />
		<add key="EnableFeatures" value="false" />
		<add key="MaxLeadsHistoricalCount" value="10" />
		<!-- Start Use Customers.io API -->
		<add key="top" value="100" />
		<add key="UseCustomersAPI" value="false" />
		<!-- End Use Customers.io API -->
		
		<add key="Telerik.Skin" value="MetroTouch" />
		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
		
		<add key="mongoDBNameHangfire" value="ElioHangfire" />
		<add key="mongoDBNameHangfireStage" value="ElioHangfireStage" />
		<add key="mongoDBNameLogs" value="ElioLogs" />
		<add key="mongoDBNameLogsStage" value="ElioLogsStage" />
		
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="data source=10.215.0.1;initial catalog=ElioPlus_DB_Stage;persist security info=False;user id=elioplu$u$er@dm!n!str@t0r18;Password=t0rn@d0v@g1985;packet size=8192;Connection Lifetime=1200;Max Pool Size=200;Connection Timeout=720;Pooling=true;TrustServerCertificate=true;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="ConnectionStringHangfire" connectionString="mongodb://eliousr:QcR2#tPp@10.215.0.1" />
		<add name="ConnectionStringHangfireStage" connectionString="mongodb://eliousr:QcR2#tPp@10.215.0.1" />
		<add name="ConnectionStringLogs" connectionString="mongodb://eliousr:QcR2#tPpc@10.215.0.1/ElioLogs?authSource=admin" />
		<add name="ConnectionStringLogsStage" connectionString="mongodb://eliousr:QcR2#tPpc@10.215.0.1/ElioLogsStage?authSource=admin" />
	</connectionStrings>
	<location path="Telerik.Web.UI.WebResource.axd" />
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
			</assemblies>
		</compilation>
		<sessionState timeout="240" />
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" targetFramework="4.7.2" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
		</httpModules>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
			<remove name="RadCompression" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
		</modules>
		<handlers>
			<remove name="ChartImage_axd" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to non-www" stopProcessing="false">
			<match url="(.*)" negate="false"></match>
			<action type="Redirect" url="http://elioplus.com/{R:1}"></action>
			<conditions>
				<add input="{HTTP_HOST}" pattern="^elioplus\.com$" negate="true"></add>
			</conditions>
		</rule>
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
        </rule>		
      </rules>
    </rewrite>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>