<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/elioplus.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>localelioplus.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnStr_Archive001" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_Archive;Integrated Security=SSPI;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStr_Archive001_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_Archive;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString02" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_DB;Integrated Security=True" Name="Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_DB;Integrated Security=SSPI;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=52.166.73.224;Initial Catalog=ElioPlus_DB;Persist Security Info=False;User ID=elioplusadminuser;Password=@dm1n1stra0r;Pooling=True;Max Pool Size=200;Connect Timeout=240;Load Balance Timeout=900;Packet Size=8192" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString02_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=52.166.73.224;initial catalog=ElioPlus_DB;persist security info=False;user id=elioplusadminuser;pwd=@dm1n1stra0r;packet size=8192;Connection Lifetime=900;Max Pool Size=200;Connection Timeout=240;Pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString03" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=52.166.73.224;Initial Catalog=Elioplus_Staging;Persist Security Info=False;User ID=elioplu$u$er@dm!n!str@t0r;Password=t0rn@d0v@g1985;Pooling=True;Max Pool Size=200;Connect Timeout=240;Load Balance Timeout=900;Packet Size=8192" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString03_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=52.166.73.224;initial catalog=Elioplus_Staging;persist security info=False;User Id=elioplu$u$er@dm!n!str@t0r;Password=t0rn@d0v@g1985;packet size=8192;Connection Lifetime=900;Max Pool Size=200;Connection Timeout=240;Pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString0" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=ElioPlus;User Id=elioplusadminuser;Password=@dm1n1stra0r;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString0_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=ElioPlus;User Id=elioplusadminuser;Password=@dm1n1stra0r;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Data Source=;Initial Catalog=Elioplus;User Id=eliodbadminuser;Password=e1i0dbadm!npa$s;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Data Source=;Initial Catalog=Elioplus;User Id=eliodbadminuser;Password=e1i0dbadm!npa$s;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Data Source=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Initial Catalog=Elioplus;User Id=eliodbadminuser;Password=e1i0dbadm!npa$s;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Data Source=eliodbinstance.ctktk5bqjyda.us-west-2.rds.amazonaws.com,1433;Initial Catalog=Elioplus;User Id=eliodbadminuser;Password=e1i0dbadm!npa$s;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString4" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=TORNADO\SQLEXPRESS;Data Source=TORNADO\SQLEXPRESS;Initial Catalog=ElioPlus;Integrated Security=SSPI;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=TORNADO\SQLEXPRESS;Data Source=TORNADO\SQLEXPRESS;Initial Catalog=ElioPlus;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString5" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=TORNADO-VAG-PC\TORNADO;Data Source=TORNADO-VAG-PC\TORNADO;Initial Catalog=Elioplus;Integrated Security=SSPI;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=TORNADO-VAG-PC\TORNADO;Data Source=TORNADO-VAG-PC\TORNADO;Initial Catalog=Elioplus;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_DB;Integrated Security=SSPI;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_DB;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString0-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString03-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnStr_Archive001-Web.config Connection String" />
    <MSDeployParameterValue Include="ConnectionString02-Web.config Connection String">
      <ParameterValue>Server=DESKTOP-6J8CJ19;Data Source=DESKTOP-6J8CJ19;Initial Catalog=ElioPlus_DB;Integrated Security=SSPI;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>